   /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 75%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

    .navbar{
        background-color: #48435C;
    }

    .navbar-item{
        color: white;
    }