   /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  #map {
      height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  html, body {
      height: 80%;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
  }

  .navbar {
      background-color: #9792E3;
  }

  .navbar-item {
      color: white;
  }

  .name{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }

  .page{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }

  .sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }

  .sidepanel text {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #48435C;
    display: block;
    transition: 0.3s;
  }

  .sidepanel ul{
    padding: 8px 8px 2px 32px;
    text-decoration: none;

    font-size: 15px;
    color: #5A5766;
    display: block;
  }

  /* body {
  	font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
  	text-transform: inherit;
  	color: #333;
  	background: #e7edee;
  	width: 100%;
  } */

  .wrap{
  	width: 720px;
  	margin: 15px auto;
  	padding: 15px 10px;
  	background: white;
  	border: 2px solid #48435C;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  }

  .wrap .title{
    font-family: 'Roboto', sans-serif;
    color: #48435C;
  }

  .post-wrapper {
    border-bottom: 1px solid #5A5766;
    padding-bottom: 5px;
  }

  .post-message {
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    color: #5A5766;
  }

  .post-time-stamp {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #5A5766;
    text-align: right;
  }

  .post-button{
    background-color: #61E786;
    text-decoration: none;
    border:none;
    color: white;
    font-size: 15px;
    padding: 10px 18px;
  }

  #message-board-posts{
    overflow-y: scroll;
    height: 400px;
  }
